<div class="px-4 py-6 sm:px-0">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">New Hospital</h3>
        <p class="mt-1 text-sm text-gray-600">
          Add a new hospital to the healthcare system.
        </p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
          <%= render 'form', hospital: @hospital %>
        </div>
      </div>
    </div>
  </div>
</div>
